* {
  box-sizing: border-box;
}
html,
body,
#root,
.container {
  display: flex;
  justify-content: center;
}
.movie {
  width: 700px;
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 50px;
  margin-bottom: 70px;
  background-color: #decde5;
  -webkit-box-shadow: 12px 10px 7px -1px rgba(0, 0, 0, 0.52);
  box-shadow: 12px 10px 7px -1px rgba(0, 0, 0, 0.52);
  transition: transform 300ms ease-in;
  border-radius: 10px;
}
.movie:hover {
  transform: scale(1.1);
}
.movie img {
  position: relative;
  top: -50px;
  max-width: 150px;
  border-radius: 5px;
  box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 11px 12px 8px -2px rgba(0, 0, 0, 0.45);
}
.movie .movie__data {
  height: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.movie .movie__data .movie__title {
  margin-bottom: 10px;
  font-size: 25px;
}
.movie .movie__data .movie__year {
  font-size: 18px;
  opacity: 80%;
}
.movie .movie__data .genres {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
}
.movie .movie__data .movie__summary {
  font-size: 15px;
  opacity: 80%;
}
